.nav-light{
  background: #f5f5f5;
  padding: 10px;
  border: 3px dashed #1f1f1f;
  color: #000;
}

.nav-dark{
  background: #1f1f1f;
  color: #fff;
  padding: 10px;
  border: 3px dashed palegoldenrod;
}

.light-page{
  background: #fff;
  color: #000;
  /* min-height: 50vh; */
  padding: 5px 10px;
  border: 3px solid gray;
}

.dark-page{
  background: #121212;
  color: #fff;
  /* min-height: 50vh; */
  padding: 5px 10px;
  border: 3px solid ghostwhite;
}